parameters:
  # Format to display dates and times in on the CLI. Note: Does not change how dates are stored, which are always UTC.
  display.datetime.format: !php/const DateTime::RFC2822
  display.datetime.timezone: America/Los_Angeles
  # Doctrine configuration for storing Release data.
  doctrine.orm.connection:
    driver: pdo_sqlite
    path: "%root_dir%/db.sqlite"
  doctrine.orm.entity_dir: "%root_dir%/src/Entity"
  doctrine.orm.dev_mode: true
  doctrine.orm.proxy_dir: ~
  doctrine.orm.use_simple_annotation_reader: false
  # Where to write physical log files.
  log_file_path: "%root_dir%/logs/devops.log"
  log_file_verbosity: !php/const Monolog\Logger::NOTICE
